<app-header/>
<div class="relative overflow-hidden bg-white">
  <div class="pb-80 pt-16 sm:pb-40 sm:pt-24 lg:pb-48 lg:pt-40">
    <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
      <div class="sm:max-w-lg">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"> Uncover the Secrets of the World</h1>
        <p class="mt-4 text-lg text-gray-500 text-justify sm:text-sm">
          Explore off-the-beaten-path attractions, local hotspots, and charming corners of cities, all carefully curated to offer an authentic and unforgettable travel experience.        </p>
      </div>
      <div>
        <div class="mt-10">
          <!-- Decorative image grid -->
          <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
            <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
              <div class="flex items-center space-x-6 lg:space-x-8">
                <div class="grid shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                    <img src="/assets/IMGS/img1.jpg" alt="" class="size-full object-cover">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="/assets/IMGS/img2.jpg" alt="" class="size-full object-cover">
                  </div>
                </div>
                <div class="grid shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="/assets/IMGS/img3.jpg" alt="" class="size-full object-cover">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="/assets/IMGS/img4.jpg" alt="" class="size-full object-cover">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="/assets/IMGS/img5.jpg" alt="" class="size-full object-cover">
                  </div>
                </div>
                <div class="grid shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="/assets/IMGS/img6.jpg" alt="" class="size-full object-cover">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <img src="/assets/IMGS/img7.webp" alt="" class="size-full object-cover">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="inline-block rounded-full border border-transparent bg-orange-300 px-8 py-3 text-center font-medium text-white hover:bg-orange-500">Explore</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-orange-300">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
      <h2 class="text-2xl font-bold text-gray-900">Discover what’s hot around the world</h2>

      <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        <div class="group relative">
          <img src="/assets/IMGS/img8.jpg" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-[2/1] lg:aspect-square">
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Locations
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Wander through famous locations</p>
        </div>
        <div class="group relative">
          <img src="/assets/IMGS/img9.jpg" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-[2/1] lg:aspect-square">
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Attractions
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Explore the best local wonders</p>
        </div>
        <div class="group relative">
          <img src="/assets/IMGS/img10.jpg" alt="Collection of four insulated travel bottles on wooden shelf." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-[2/1] lg:aspect-square">
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Food
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Savor the finest regional food</p>
        </div>
      </div>
    </div>
  </div>
</div>
