<!--<style>-->
<!--  html, body {-->
<!--    height: 100%;-->
<!--    margin: 0;-->
<!--  }-->
<!--</style>-->
<!--<main class="grid min-h-screen place-items-center bg-[url('/assets/bg.jpg')] bg-cover bg-center">-->
<!--  <div class="text-center">-->
<!--    <h1 class="font-sans mt-4 text-balance text-5xl font-semibold tracking-tight text-white sm:text-7xl">-->
<!--      HiddenGems-->
<!--    </h1>-->

<!--    <p class="font-sans mt-6 text-pretty text-lg font-medium text-white sm:text-xl">-->
<!--      Sign up for one in the lifetime experiences-->
<!--    </p>-->
<!--    <div class="mt-10 flex items-center justify-center gap-x-6">-->
<!--      &lt;!&ndash; Go back home button with white background and text &ndash;&gt;-->
<!--      <a href="/login" class="font-sans rounded-full bg-white px-3.5 py-2.5 text-sm font-semibold text-black-600 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">-->
<!--        Sign in-->
<!--      </a>-->
<!--      &lt;!&ndash; Contact support text with white text &ndash;&gt;-->
<!--      <a href="#" class="font-sans text-sm font-semibold text-white">Sign up <span aria-hidden="true">&rarr;</span></a>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->
<main class="grid min-h-screen place-items-center bg-[url('/assets/bg.jpg')] bg-cover bg-center">
  <div class="text-center">
<!--    <h1 class="font-sans mt-4 text-balance text-5xl font-semibold tracking-tight text-white sm:text-7xl opacity-0 translate-y-8 transition-all duration-1000 ease-out hover:opacity-100 hover:translate-y-0">-->
<!--      HiddenGems-->
<!--    </h1>-->
    <h1 class="animate-bounce text-white font-sans mt-4 text-balance text-3xl font-semibold tracking-tight sm:text-7xl">
      HiddenGems
    </h1>

    <p class="font-sans mt-6 text-pretty text-3md font-medium text-white sm:text-sm">
      Sign up for one in the lifetime experiences
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <!-- Go back home button with white background and text -->
      <a href="/login" class="font-sans rounded-full bg-white px-12 py-2.5 text-sm font-semibold text-black-600 shadow-sm hover:bg-orange-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        Sign in
      </a>
      <!-- Contact support text with white text -->
      <a href="/register" class="font-sans rounded-full bg-black px-12 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-100 hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        Sign up
      </a>
<!--      <a href="#" class="font-sans text-sm font-semibold text-white">Sign up <span aria-hidden="true">&rarr;</span></a>-->
    </div>
  </div>
</main>
