<main class="grid min-h-screen place-items-center bg-[url('/assets/bg.jpg')] bg-cover bg-center">
  <div class="bg-white sm:bg-white flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    </div>
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="-mt-8 text-center text-1xl/9 font-normal tracking-tight text-gray-900">Welcome back to</h2>
        <img class="mt-5 mx-auto h-12 w-auto" src="/assets/logo.png" alt="HiddenGems Logo">
        <h2 class="mt-5 text-center text-1xl/9 font-normal tracking-tight text-gray-900">Enter your credentials to find your next destination</h2>
      </div>
    </div>
    <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" action="#" method="POST">
        <div>
<!--          <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>-->
          <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="email" required placeholder="Email address" class="block w-full rounded-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-400 sm:text-sm/6">
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
<!--            <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>-->
          </div>
          <div class="mt-2">
            <input id="password" name="password" type="password" autocomplete="current-password" required placeholder="Password" class="block w-full rounded-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-400 sm:text-sm/6">
          </div>
          <div class="text-sm mt-3">
            <a href="#" class="p-2 font-semibold text-orange-300 hover:text-orange-500">Forgot password?</a>
          </div>
        </div>

        <div>
          <button type="submit" class="flex w-full justify-center rounded-full bg-black px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-orange-100 hover:text-black hover:border-green-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
        </div>
        <div class="mt-10 text-center text-sm/6 text-gray-500">
          You don't have an account? <a href="/register" class="font-semibold text-orange-300 hover:text-orange-500">Click here to register</a>
        </div>
      </form>
    </div>
  </div>
</main>

<!--<main class="grid min-h-screen place-items-center bg-[url('/assets/bg.jpg')] bg-cover bg-center">-->
<!--  &lt;!&ndash; Responsive Background for the Container &ndash;&gt;-->
<!--  <div class="bg-transparent  flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">-->
<!--    <div class="sm:mx-auto sm:w-full sm:max-w-sm">-->
<!--    </div>-->
<!--    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">-->
<!--      <div class="sm:mx-auto sm:w-full sm:max-w-sm">-->
<!--&lt;!&ndash;        <img class="mx-auto h-12 w-auto" src="/assets/logo.png" alt="Your Company">&ndash;&gt;-->
<!--        <h1 class="mt-5 text-center text-6xl font-bold tracking-tight text-white">HiddenGems</h1>-->
<!--        <h2 class="mt-5 text-center text-1xl font-medium tracking-tight text-white">Sign in to your account</h2>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">-->
<!--      <form class="space-y-6" action="#" method="POST">-->
<!--        <div>-->
<!--          <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>-->
<!--          <div class="mt-2">-->
<!--            <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">-->
<!--          </div>-->
<!--        </div>-->

<!--        <div>-->
<!--          <div class="flex items-center justify-between">-->
<!--            <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>-->
<!--            <div class="text-sm">-->
<!--              <a href="#" class="font-semibold text-orange-300 hover:text-orange-500">Forgot password?</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="mt-2">-->
<!--            <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">-->
<!--          </div>-->
<!--        </div>-->

<!--        <div>-->
<!--          <button type="submit" class="flex w-full justify-center rounded-full bg-black px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-orange-100 hover:text-black hover:border-green-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>-->
<!--        </div>-->
<!--        <div class="mt-10 text-center text-sm/6 text-gray-500">-->
<!--          You don't have an account? <a href="/register" class="font-semibold text-orange-300 hover:text-orange-500">Click here to register</a>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->
